{% extends "base.html" %}


{% block title %}Portfolio - {{ block.super }}{% endblock %}


{% block css %}
    {{ block.super }}
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/pygments.css" type="text/css" media="screen, projection" />
{% endblock %}


{% block rss %}
<link rel="alternate" type="application/rss+xml" title="RSS" href="{% url feed-root "projects" %}" />
{% endblock %}


{% block content %}
<div id="content" class="grid_9">
    
    {% block portfolio-title %}
        <h1><a href="{% url portfolio-project-list %}" title="Portfolio">Portfolio</a></h1>
    {% endblock %}
    
    {% block portfolio-content %}
    {% endblock %}
    
</div>
{% endblock %}