{% extends "base.html" %}

{% block title %}Portfolio - {{ block.super }}{% endblock %}

{% block css %}
{{ block.super }}
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/pygments.css" type="text/css" media="screen, projection" />
{% endblock %}

{% block content %}
<div id="content" class="grid_9">
    
    {% block portfolio-title %}
        <h1><a href="{% url portfolio-project-list %}" title="Portfolio">Portfolio</a></h1>
    {% endblock %}
    
    {% block portfolio-content %}
    {% endblock %}
    
</div>
{% endblock %}