{% load tagging_tags %}
{% tags_for_object project as tags %}

<h2>
    <a href="{{ project.get_absolute_url }}" rel="bookmark" title="{{ project.title }}">{{ project.title }}</a>
</h2>
<div class="meta">
    <h3>Tags:</h3>
    <ul>
    {% for tag in tags %}
        <li>
            <a href="{% url portfolio-tag-detail tag.name %}" rel="tag">{{ tag.name }}</a>{% if not forloop.last %},{% endif %}
        </li>
    {% endfor %}
    </ul>
</div>
<div>
    {% for image in project.images.all %}
    <img src="{{ image.thumb.url }}" alt="{{ image.title }}" />
    {% endfor %}
</div>
<div>
    <h3>Project Summary</h3>
    {% if project.client %}
        {% if project.client.url %}
        <p class="meta">Client: <a href="{{ project.client.url }}">{{ project.client.name }}</a></p>
        {% else %}
        <p class="meta">Client: {{ project.client.name }}</p>
        {% endif %}
    {% endif %}
    {% if project.role %}
        <p class="meta">Role: {{ project.role }}</p>
    {% endif %}
    
    {{ project.content_html|safe }}

    {% if project.url %}
        <p><a href="{{ project.url }}">Launch Site</a></p>
    {% endif %}
    
    {% if project.testimonial_set.all %}
        <h3>Client Testimonials</h3>
        {% for t in project.testimonial_set.all %}
            <p>{{ t.quote }}</p>
            <p class="meta">-- {% if t.quotee %}{{ t.quotee }}{% if t.client %},{% endif %}{% endif %} {% if t.client %}<a href="{{ t.client.url }}">{{ t.client.name }}</a>{% endif %}</p>
        {% endfor %}
    {% endif %}
</div>
