{% load tagging_tags %}
{% tags_for_object project as tags %}

<h3>
    <a href="{{ project.get_absolute_url }}" rel="bookmark" title="{{ project.title }}">{{ project.title }}</a>
</h3>
<div class="meta">
    <h3>Tags:</h3>
    <ul>
    {% for tag in tags %}
        <li>
            <a href="{% url portfolio-tag-detail tag.name %}">{{ tag.name }}</a>{% if not forloop.last %},{% endif %}
        </li>
    {% endfor %}
    </ul>
    {% if project.client %}
        {% if project.client.url %}
        <p class="meta">Client: <a href="{{ project.client.url }}">{{ project.client.name }}</a></p>
        {% else %}
        <p class="meta">Client: {{ project.client.name }}</p>
        {% endif %}
    {% endif %}
</div>
<div>
    {% with project.images.all.0 as image %}
    <img src="{{ image.thumb.url }}" alt="{{ image.title }}" />
    {% endwith %}
</div>