{% load tagging_tags %}
{% tags_for_object project as tags %}

<p>

    {% if project.url %}
        Project URL: <a href="{{ project.url }}" title="{{ project.title }}">{{ project.url }}</a>
        <br />
    {% endif %}
    
    {% if tags %}
        Tags:
        {% for tag in tags %}
            <a href="{% url portfolio-project-tag-detail tag.name %}" rel="tag">{{ tag.name }}</a>{% if not forloop.last %},{% endif %}
        {% endfor %}
        <br />
    {% endif %}
    
    {% if project.categories.all %}
        Categories:
        {% for category in project.categories.all %}
            <a href="{% url portfolio-project-category-detail category.slug %}" rel="tag">{{ category.title }}</a>{% if not forloop.last %},{% endif %}
        {% endfor %}
        <br />
    {% endif %}
    
    {% if project.client %}
        {% if project.client.url %}
        Client: <a href="{{ project.client.url }}">{{ project.client.name }}</a>
        {% else %}
        Client: {{ project.client.name }}
        {% endif %}
        <br />
    {% endif %}


    {% if project.role %}
        Role: {{ project.role }}
        <br />
    {% endif %}

</p>

{% if not show_detail %}
    {{ project.summary_rendered }}
    
{% else %}
    {{ project.description_rendered }}
    
    
    {% if project.testimonial_set.all %}
        <h2>Client Testimonials</h2>
        {% for t in project.testimonial_set.all %}
            <p>{{ t.quote }}</p>
            <p>
                -- {% if t.quotee %}{{ t.quotee }}{% if t.client %},{% endif %}{% endif %} 
                   {% if t.client %}<a href="{{ t.client.url }}" title="{{ t.client.name }}">
                                    {{ t.client.name }}</a>{% endif %}
            </p>
        {% endfor %}
    {% endif %}
    
    <div>
    {% for image in project.images.all %}
        <img src="{{ image.image.url }}" alt="{{ image.title }}" />
    {% endfor %}
    </div>
    
{% endif %}
