{% extends "portfolio/base.html" %}


{% block title %}Projects Tagged "{{ tag.name }}" - {{ block.super }}{% endblock %}

{% block portfolio-title %}
    <h1><a href="{% url portfolio-project-tag-detail tag %}" title="Projects Tagged {{ tag.name }}">Projects Tagged "{{ tag.name }}"</a></h1>
{% endblock %}

{% block portfolio-content %}
    {% for project in object_list %}
        <h2><a href="{{ project.get_absolute_url }}" title="{{ project.title }}">{{ project.title }}</a></h2>
        {% include "portfolio/project.html" %}
    {% empty %}
        <p>No projects tagged "{{ tag.name }}".</p>
    {% endfor %}
{% endblock %}