{% extends "base.html" %}


{% block title %} {{ object.title }} Category - {{ block.super }}{% endblock %}


{% block content %}

{% if object.entry_set.all and object.project_set.all %}
<div class="grid_6">
{% else %}
<div class="grid_9">
{% endif %}

{% if object.entry_set.all %}
<h1><a href="{% url blog-entry-category-detail object.slug %}" title="Blog Entries in {{ object.title }} category">Entries in "{{ object.title }}" category</a></h1>

{% for entry in object.entry_set.all %}
    <h2><a href="{{ entry.get_absolute_url }}" title="{{ entry.title }}">{{ entry.title }}</a></h2>
    {% include "blog/entry.html" %}
{% endfor %}
{% endif %}


{% if object.entry_set.all and object.project_set.all %}
</div><div class="grid_6">
{% endif %}


{% if object.project_set.all %}
<h1><a href="{% url portfolio-project-category-detail object.slug %}" title="Projects in {{ object.title }} category">Projects in "{{ object.title }}" category</a></h1>

{% for project in object.project_set.all %}
    <h2><a href="{{ project.get_absolute_url }}" title="{{ project.title }}">{{ project.title }}</a></h2>
    {% include "portfolio/project.html" %}
{% endfor %}
{% endif %}

</div>

{% endblock %}


{% block sidebar %}

{% if object.entry_set.all and object.project_set.all %}
{% else %}
    {{ block.super}}
{% endif %}

{% endblock %}


{% block bottombar %}

{% if object.entry_set.all and object.project_set.all %}
    <div id="bottombar" class="grid_12">
        {% include "bottombar.html" %}
    </div>
{% else %}
{% endif %}

{% endblock %}