<ul class="navigation">
{% for item in menu %}

    <li>
    {% if item.url %}
        <h3><a href="{{ item.get_absolute_url }}" title="{{ item.title }}">{{ item.label }}</a></h3>
    {% else %}
        {{ item.label }}
    {% endif %}
    
    {% if item.children.all %}
        {% with item.children.all as menu %}
            {% include "core/sub_navigation.html" %}
        {% endwith %}
    {% endif %}
    
    </li>
    
{% endfor %}

    <li>
        {% if user.is_authenticated %}
            <h3>
                <a href="{% url accounts-user-detail user %}">{{ user.username }}</a>
            </h3>
            <ul>
                <li><a href="{% url auth_logout %}" title="Log Out">Log Out</a></li>
            </ul>
        {% else %}
            <h3><a href="{% url auth_login %}" title="Log In">Log In</a></h3>
        {% endif %}

    </li>
</ul>