
    <div class="ui-widget ui-superimage-widget">
    
        <div class="ui-superimage-source">
            <ul>
                {% if image.url %}
                    <li><a href="#{{ attrs.id }}_current"><span>Current</span></a></li>
                {% endif %}
                    <li><a href="#{{ attrs.id }}_upload"><span>Upload</span></a></li>
                    <li><a href="#{{ attrs.id }}_thumbnails"><span>Thumbnails</span></a></li>
            </ul>
            
            <div id="{{ attrs.id }}_current">
                <img src="{{ image.url }}" title="{{ image }}" class="ui-superimage" id="{{ attrs.id }}_image" />
            </div>
            
            <div id="{{ attrs.id }}_upload">
                <input type="file" name="{{ name }}" id="{{ attrs.id }}" />
            </div>
            
            <div id="{{ attrs.id }}_thumbnails" class="ui-superimage-thumbnails">
                <div>
                {% for thumb in image.thumbnails.all %}
                
                    <div class="ui-superimage-thumbnail-container ui-helper-clearfix">
                        <div class="ui-superimage-thumbnail-data">
                            <p>
                                <label for="{{ attrs.id }}_thumbnail_title_{{ forloop.counter }}">Title:</label>
                                <input type="text" name="{{ name }}_thumbnail_title_{{ thumb.id }}" id="{{ attrs.id }}_thumbnail_title_{{ thumb.id }}" value="{{ thumb.title }}" />
                            </p>
            

                            
                            <div class="ui-superimage-thumbnail-coords">

                                <p>
                                    <label>Coords:</label>
                                    <input class="ui-superimage-thumbnail-coord" type="text" name="{{ name }}_thumbnail_x1_{{ thumb.id }}" id="{{ attrs.id }}_thumbnail_x1_{{ thumb.id }}" readonly="readonly" disabled="disabled" value="{{ thumb.x1 }}" />
                                    <input class="ui-superimage-thumbnail-coord" type="text" name="{{ name }}_thumbnail_y1_{{ thumb.id }}" id="{{ attrs.id }}_thumbnail_y1_{{ thumb.id }}" readonly="readonly" disabled="disabled" value="{{ thumb.y1 }}" />
                                    <input class="ui-superimage-thumbnail-coord" type="text" name="{{ name }}_thumbnail_x2_{{ thumb.id }}" id="{{ attrs.id }}_thumbnail_x2_{{ thumb.id }}" readonly="readonly" disabled="disabled" value="{{ thumb.x2 }}" />
                                    <input class="ui-superimage-thumbnail-coord" type="text" name="{{ name }}_thumbnail_y2_{{ thumb.id }}" id="{{ attrs.id }}_thumbnail_y2_{{ thumb.id }}" readonly="readonly" disabled="disabled" value="{{ thumb.y2 }}" />
                                </p>

                                <p>
                                    <label>Dimensions:</label>
                                    <input class="ui-superimage-thumbnail-coord" type="text" name="{{ name }}_thumbnail_w_{{ thumb.id }}" id="{{ attrs.id }}_thumbnail_w_{{ thumb.id }}"  disabled="disabled" value="{{ thumb.width }}" />
                                    <input class="ui-superimage-thumbnail-coord" type="text" name="{{ name }}_thumbnail_h_{{ thumb.id }}" id="{{ attrs.id }}_thumbnail_h_{{ thumb.id }}"  disabled="disabled" value="{{ thumb.height }}" />
                                </p>

                            </div>
                            
                            
                            <p class="ui-superimage-thumbnail-edit-delete ui-helper-clearfix">
                                <button class="edit">Edit</button>
                                <button class="delete">Delete</button>
                                <input type="hidden" name="{{ name }}_thumbnail_delete" value="{{ thumb.id }}" disabled="disabled" />
                            </p>
                            
                            
                        </div>
                        <img src="{{ thumb.url }}" title="{{ thumb.title }}" id="{{ attrs.id }}_thumbnail_{{ thumb.id }}" class="ui-superimage-thumbnail" />
                        
                    </div>
                    
                {% endfor %}
                                    
                    <div class="ui-superimage-thumbnail-container ui-helper-clearfix ui-superimage-thumbnail-template">
                        <div class="ui-superimage-thumbnail-data">
                            <p>
                                <label for="{{ attrs.id }}_thumbnail_title_template">Title:</label>
                                <input type="text" name="{{ name }}_thumbnail_title_template" id="{{ attrs.id }}_thumbnail_title_template" disabled="disabled" value="untitled" />
                            </p>
            

                            
                            <div class="ui-superimage-thumbnail-coords">
                            
                                <p>
                                    <label>Coords:</label>
                                    <input class="ui-superimage-thumbnail-coord" type="text" name="{{ name }}_thumbnail_x1_template" id="{{ attrs.id }}_thumbnail_x1_template" disabled="disabled" />
                                    <input class="ui-superimage-thumbnail-coord" type="text" name="{{ name }}_thumbnail_y1_template" id="{{ attrs.id }}_thumbnail_y1_template" disabled="disabled" />
                                    <input class="ui-superimage-thumbnail-coord" type="text" name="{{ name }}_thumbnail_x2_template" id="{{ attrs.id }}_thumbnail_x2_template" disabled="disabled" />
                                    <input class="ui-superimage-thumbnail-coord" type="text" name="{{ name }}_thumbnail_y2_template" id="{{ attrs.id }}_thumbnail_y2_template" disabled="disabled" />
                                </p>
                                <p>
                                    <label>Dimensions:</label>
                                    <input class="ui-superimage-thumbnail-coord" type="text" name="{{ name }}_thumbnail_w_template" id="{{ attrs.id }}_thumbnail_w_template" disabled="disabled" />
                                    <input class="ui-superimage-thumbnail-coord" type="text" name="{{ name }}_thumbnail_h_template" id="{{ attrs.id }}_thumbnail_h_template" disabled="disabled" />

                                </p>                                
                                
                            </div>
                            
                            <p class="ui-superimage-thumbnail-edit-delete ui-helper-clearfix">
                                <button class="edit">Edit</button>
                                <button class="delete">Delete</button>
                            </p>
                        </div>
                        
                        <!-- fill this with jcrop preview -->
                        <img src="{{ thumb.url }}" title="{{ thumb.title }}" id="{{ attrs.id }}_thumbnail_template" class="ui-superimage-thumbnail" />
                        
                    </div>
                </div>

                    <div class="ui-superimage-thumbnail-add">
                        <button>Add Thumbnail</button>
                    </div>
            </div>
        
        
            
            

            
            
        </div>
        


    </div>
