<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        
        <title>{% block title %}Hartzog Skel - The Hartzog Creative Django Framework{% endblock %}</title>
        
        {% block css %}
        <link rel="stylesheet" href="{{ MEDIA_URL }}css/site.css" type="text/css" media="screen, projection" />
        {% endblock %}
        
        {% block rss %}
        {% endblock %}
        
        {% block js %}
<!--
        <script type="text/javascript" src="http://google.com/jsapi"></script>
        <script type="text/javascript" src="{{ MEDIA_URL }}js/hartzog/hz.jqueryloader.js"></script>
-->
        {% endblock %}
        
    </head>
    <body>
    
        <div id="wrapper">
            <div id="header">
            {% block header %}
                <div>
                    <p class="site-logo"><a href="/" title="Hartzog Skel Home">Hartzog Skel</a></p>
                    <p class="tag-line">The Hartzog Creative Django Framework</p>
                </div>
                
                {% block navigation %}
                    {% load core_tags %}
                    {% navigation %}
                {% endblock %}   
                
            {% endblock %}
            
            </div>
            
            {% block top-bar %}
                <div id="top-bar">
                    {% include "top-bar.html" %}
                </div>
            {% endblock %}
            
            <div id="main">
            
                {% block content %}
                    <div id="content">
                    </div>
                {% endblock %}
                
                {% block side-bar %}
                    <div id="side-bar">
                        {% include "side-bar.html" %}
                    </div>
                {% endblock %}
            </div>

            {% block bottom-bar %}
                <div id="bottom-bar">
                    {% include "bottom-bar.html" %}
                </div>
            {% endblock %}
            
            <div id="footer">
            {% block footer %}
                <p>&copy; {% now "Y" %} Hartzog Creative</p>
            {% endblock %}
            </div>
            
            <div class="clear"></div>
        </div>
    </body>
</html>