body{
    font: 12px/18px Helvetica,Arial,'Liberation Sans',FreeSans,sans-serif;
}

h1 {
    font-size: 2.5em;
    line-height: 1.2em;
}

h2 {
    font-size: 2em;
    line-height: 1.5em;
}

h3 {
    font-size: 1.5em;
}

h4 {
    font-size: 1.25em;
}

h5 {
    font-size: 1em;
}

h6 {
    font-size:12px;
}

p,dl,hr,h1,h2,h3,h4,h5,h6,ol,ul,pre,table,address,fieldset{
    margin-bottom:18px;
}

input[type=text] {
    font-size: 11px;
    line-height: 14px;
    border: 1px solid #BBBBBB;
    height: 14px;
}

.ccontainer_12 { 
    background: transparent url(../img/12_col_vertical.gif) top left repeat-y;
}