<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        
        <title>{% block title %}Hartzog Skel - The Hartzog Creative Django Framework{% endblock %}</title>
        
        {% block css %}
            <link rel="stylesheet" href="{{ MEDIA_URL }}css/site.css" type="text/css" media="screen, projection" />
        {% endblock %}
        
        {% block rss %}
        {% endblock %}
        
        {% block js %}
        {% endblock %}
        
    </head>
    <body>
        <div id="wrapper">
            <div id="header">
                {% block header %}
                    <div>
                        <p class="site-logo"><a href="/" title="Hartzog Skel Home">Hartzog Skel</a></p>
                        <p class="tag-line">The Hartzog Creative Django Framework</p>
                    </div>
                
                    {% block navigation %}
                        {% load core_tags %}
                        {% render_menu "Navigation" "treemenus/navigation.html" %}
                    {% endblock %}   
                
                {% endblock %}        
            </div>

            <div id="top-bar">
                {% block top-bar %}{% include "top-bar.html" %}{% endblock %}
            </div>
            
            <div id="main">

                <div id="content">
                    {% block content %}{% endblock %}
                </div>
                
                <div id="side-bar">
                    {% block side-bar %}{% include "side-bar.html" %}{% endblock %}
                </div>

            </div>

            <div id="bottom-bar">
                {% block bottom-bar %}{% include "bottom-bar.html" %}{% endblock %}
            </div>
            
            <div id="footer">
                {% block footer %}
                    <p>&copy; {% now "Y" %} Hartzog Creative</p>
                {% endblock %}
            </div>
            
            <div class="clear"></div>
        </div>
    </body>
</html>