{% extends "base.html" %}


{% block title %}Super Image - {{ block.super }}{% endblock %}


{% block js %}
{{ block.super }}
<script type="text/javascript" src="{{ MEDIA_URL }}js/hartzog/hz.splitpane.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/hartzog/hz.crop.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/hartzog/hz.superimage.js"></script>
<script type="text/javascript">
    $(function(){
/*
        $('#example1').superimage({
            originalSize: [640, 480],
        });
*/

    });
</script>
{% endblock %}


{% block css %}
{{ block.super }}
<link rel="stylesheet" href="{{ MEDIA_URL }}css/theme/ui.all.css" type="text/css" media="screen, projection" />
{% endblock %}


{% block content %}
<div class="grid_9">
    <img src="{{ MEDIA_URL }}img/sample.jpg" alt="sample image" id="example1" />
</div>
{% endblock %}