{% extends "base.html" %}

{% block title %}Blog - {{ block.super }}{% endblock %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/blog.css" type="text/css" media="screen, projection" />
{% endblock %}

{% block content %}
    <div class="hfeed grid_12 alpha omega">
    
    {% block blog-title %}
        <h1><a href="{% url blog-latest %}">Blog</a></h1>
    {% endblock %}
    
    {% block blog-content %}
    {% endblock %}
    
    </div>
{% endblock %}
