{% load comments tagging_tags blog_tags %}

{% get_comment_count for entry as comment_count %}
<div id="comments">
{% if comment_count %}
    <p class="comments-header">{{ comment_count }} comment{{ comment_count|pluralize }} on "{{ entry.title }}"</p>

    {% get_comment_list for entry as comment_list %}

    {% for comment in comment_list %}
        {% if comment.user_id %}
            <div class="comment-hartzog"><span>Hartzog</span></div>
        {% else %}
            <div class="comment-number"><span>{{ forloop.counter|stringformat:"02d" }}</span></div>
        {% endif %}
    
        <div class="comment-gravatar grid_1 alpha">
            <img src="http://www.gravatar.com/avatar/{{ comment.email|md5 }}?s=50&d=monsterid" />
        </div>
        <div class="grid_7 omega comment">
            <span class="comment-name">{{ comment.name }}</span>
            <span class="comment-date">
                {{ comment.submit_date|date:"F jS, Y \a\t g:i A" }}
            </span>
            {{ comment.comment|safe }}
        </div>
    {% endfor %}
{% endif %}

    <p class="comments-footer">Leave a Comment</p>
    {% render_comment_form for entry %}

</div>