{% with request.build_absolute_uri as url %}

<p class="meta">Share:
    <script type="text/javascript">
        function fbs_click() {
            var u = location.href;
            var t = document.title;
            window.open('http://www.facebook.com/sharer.php?u=' + encodeURIComponent(u) + 
                        '&amp;t=' + encodeURIComponent(t), 'sharer', 
                        'toolbar=0,status=0,width=626,height=436');
            return false;
        }
    </script>
    <a href="http://www.facebook.com/share.php?u={{ url|urlencode }}" onclick="return fbs_click();">FB</a>

    <a href="http://www.stumbleupon.com/submit?url={{ url|urlencode }}%26title%3D{{ entry.title|urlencode }}">
        <img src="http://cdn.stumble-upon.com/images/16x16_su_3d.gif" alt="" height=12 />
    </a>

    <a href="http://digg.com/submit?url={{ url|urlencode }}&amp;title={{ entry.title|truncatewords:75|urlencode }}&amp;bodytext={{ entry.summary|striptags|truncatewords:350|urlencode }}&amp;topic=design" title="Digg This">
        <img src="http://digg.com/img/badges/16x16-digg-guy.gif" alt="Digg!" height=12 />
    </a>
</p>

{% endwith %}
