{% extends "base.html" %}


{% block title %}Blog - {{ block.super }}{% endblock %}


{% block css %}
    {{ block.super }}
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/pygments.css" type="text/css" media="screen, projection" />
{% endblock %}


{% block rss %}
<link rel="alternate" type="application/rss+xml" title="RSS" href="{% url feed-root "blog" %}" />
{% endblock %}


{% block content %}
<div id="content" class="grid_9">
    
    {% block blog-title %}
        <h1><a href="{% url blog-entry-latest %}" title="Blog">Blog</a></h1>
    {% endblock %}
    
    {% block blog-content %}
    {% endblock %}
    
</div>
{% endblock %}