{% load comments blog_tags %}

{% get_comment_count for entry as comment_count %}
    <h2>{{ comment_count }} comment{{ comment_count|pluralize }} on "{{ entry.title }}"</h2>
{% if comment_count %}

    <div class="comments">

    {% get_comment_list for entry as comment_list %}

    {% for comment in comment_list %}
        <div class="comment">
            <p>
                <img src="http://www.gravatar.com/avatar/{{ comment.email|md5 }}?s=54" alt="Gravatar for {{ comment.name }}" class="gravatar" /><br />
                {{ comment.name }}<br />
                <abbr title="{{ comment.submit_date|date:"Y-m-dTH:i:sQ" }}">{{ comment.submit_date|date:"F jS Y<\b\r />g:i a"|safe }}</abbr>
            </p>
    
            <div>
                {% if comment.comment_rendered %}
                    {{ comment.comment_rendered|safe }}
                {% else %}
                    <p>{{ comment.comment }}</p>
                {% endif %}
            </div>
        </div>

    {% endfor %}
    
    </div>
{% endif %}

{% if entry.comments_enabled %}
    <h2>Leave a Comment</h2>
    <div>
        {% if not comment_form %}
            {% get_comment_form for entry as comment_form %}
        {% endif %}
        {% with comment_form as form %}
            {% include "comments/blog/form.html" %}
        {% endwith %}
    </div>
{% else %}
    <p>Comments are disabled for this entry.</p>
{% endif %}
