{% load comments tagging_tags %}

{% get_comment_count for entry as comment_count %}
{% tags_for_object entry as tags %}

    <p>
        Author:
        <a href="{% url accounts-user-detail entry.author %}">{{ entry.author.get_full_name }}</a><br />
        <abbr title="{{ entry.published|date:"Y-m-dTH:i:sQ" }}">{{ entry.published|date:"F jS Y<\b\r />g:i a"|safe }}</abbr><br />
        Tags:
    {% for tag in tags %}
        <a href="{% url blog-entry-tag-detail tag.name %}" rel="tag">{{ tag.name }}</a>{% if not forloop.last %},{% endif %}
    {% endfor %}
    
    {% if entry.categories.all %}
        <br />
        Categories:
        {% for category in entry.categories.all %}
            <a href="{% url blog-entry-category-detail category.slug %}" rel="tag">{{ category.title }}</a>{% if not forloop.last %},{% endif %}
        {% endfor %}
    {% endif %}
    </p>

{% if not show_detail %}
    {{ entry.summary_rendered }}
    <p class="meta"><a href="{{ entry.get_absolute_url }}#comments">Comments ({{ comment_count }})</a></p>
    
{% else %}
    {{ entry.body_rendered }}
    {% include "blog/comments.html" %}    
    
{% endif %}