{% extends "blog/base.html" %}


{% block title %}Entries Tagged "{{ tag.name }}" - {{ block.super }}{% endblock %}

{% block blog-title %}
    <h1><a href="{% url blog-entry-tag-detail tag %}" title="Entries Tagged {{ tag.name }}">Entries Tagged "{{ tag.name }}"</a></h1>
{% endblock %}

{% block blog-content %}
    {% for entry in object_list %}
        <h2><a href="{{ entry.get_absolute_url }}" title="{{ entry.title }}">{{ entry.title }}</a></h2>
        {% include "blog/entry.html" %}
    {% empty %}
        <p>No entries tagged "{{ tag.name }}".</p>
    {% endfor %}
{% endblock %}