{% load comments tagging_tags %}

{% get_comment_count for entry as comment_count %}
{% tags_for_object entry as tags %}

    <p class="meta">
        Author:
        <a href="{% url accounts-user-detail entry.author %}">{% firstof entry.author.get_full_name entry.author.username %}</a><br />
        <abbr title="{{ entry.published|date:"Y-m-dTH:i:sQ" }}">{{ entry.published|date:"F jS Y g:i a"|safe }}</abbr><br />
        Tags:
    {% for tag in tags %}
        <a href="{% url blog-entry-tag-detail tag.name %}">{{ tag.name }}</a>{% if not forloop.last %},{% endif %}
    {% endfor %}
    
    {% if entry.categories.all %}
        <br />
        Categories:
        {% for category in entry.categories.all %}
            <a href="{% url blog-entry-category-detail category.slug %}" rel="tag">{{ category.name }}</a>{% if not forloop.last %},{% endif %}
        {% endfor %}
    {% endif %}
    </p>

{% if not show_detail %}
    {% if entry.summary_rendered %}
        {{ entry.summary_rendered }}
    {% else %}
        <p>{{ entry.summary }}</p>
    {% endif %}
    <p class="meta"><a href="{{ entry.get_absolute_url }}#comments">Comments ({{ comment_count }})</a></p>
    <p><a href="{{ entry.get_absolute_url }}" class="button">Read more</a></p>
    
{% else %}
    {% if entry.summary_rendered %}
        {{ entry.body_rendered }}
    {% else %}
        <p>{{ entry.body }}</p>
    {% endif %}
    {% include "blog/comments.html" %}    
    
{% endif %}