{% extends "blog/base.html" %}


{% block title %}Latest Entries - {{ block.super }}{% endblock %}

{% block blog-title %}
    <h1><a href="{% url blog:latest %}">Latest Entries</a></h1>
{% endblock %}

{% block blog-content %}

    {% load core_tags %}

    {% for entry in latest %}
        <h2><a href="{{ entry.get_absolute_url }}">{{ entry.title }}</a></h2>
        {% include "blog/entry.html" %}
    {% empty %}
        <p>No entries.</p>
    {% endfor %}
    
    {% if is_paginated %}
        {% paginator %}
    {% endif %}
{% endblock %}