{% extends "blog/base.html" %}


{% block title %}{{ year }} Archive - {{ block.super }}{% endblock %}

{% block blog-title %}
    <h1><a href="{% url blog-entry-year year %}">{{ year }} Archive</a></h1>
{% endblock %}

{% block blog-content %}

    {% load core_tags %}

    {% for entry in object_list %}
        {% ifchanged entry.published.month %}
        <h2>
            <a href="{% url blog-entry-month year entry.published|date:"b" %}">{{ entry.published|date:"F" }}</a>
        </h2>
        {% endifchanged %}
        <h3><a href="{{ entry.get_absolute_url }}">{{ entry.title }}</a></h3>
        {% include "blog/entry.html" %}
    {% empty %}
        <p>No entries for {{ year }}.</p>
    {% endfor %}
    
    {% if is_paginated %}
        {% paginator %}
    {% endif %}
{% endblock %}