
.ui-markupeditor {
    clear: both;
}

.ui-markupeditor textarea {
    font-family: monospace;
    width: 100%;
    height: 100%;
}

.ui-markupeditor .ui-markupeditor-edit-container {
    padding-top: 0px;
}

.ui-markupeditor .ui-tabs-nav {
    margin: 0;
}

.ui-markupeditor .ui-tabs-panel p {
    margin-left: 0;
    padding: 0;
}

.ui-markupeditor-preview, .ui-markupeditor-edit {
    float:left;
}

#ui-markupeditor-markup-preview {
    overflow: scroll;
}