

/*
.ui-superimage-thumbnail {
    display: block;
    float: left;
}

.ui-superimage-thumbnail-data {
    float: left;
}

div.ui-superimage-widget p {
    margin-left: 0;
}

.ui-superimage-widget ul.ui-tabs-nav {
    margin-left: 0;
}

.ui-superimage-thumbnail-coord {
    width: 26px;
}

.ui-superimage-thumbnail-template {
    display: none;
}
*/