{% extends "base.html" %}


{% block title %} Hartzog Crop - {{ block.super }}{% endblock %}


{% block js %}
{{ block.super }}
<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery-1.3.1.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.ui.all.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/hz.crop.js"></script>
<script type="text/javascript">
    $(function(){
        $('#example').crop();
    });
</script>
{% endblock %}


{% block css %}
<link rel="stylesheet" href="{{ MEDIA_URL }}css/theme/ui.all.css" type="text/css" media="screen, projection" />
{{ block.super }}

{% endblock %}


{% block content %}
<div>

    <img src="{{ MEDIA_URL }}img/sample.jpg" alt="Sample Image" id="example" />

</div>
{% endblock %}