{% extends "base.html" %}


{% block title %} Hartzog Markup Editor - {{ block.super }}{% endblock %}


{% block js %}
{{ block.super }}
<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery/jquery.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery/jquery.ui.all.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/hartzog/hz.splitpane.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/hartzog/hz.markupeditor.js"></script>
<script type="text/javascript">
    $(function(){
        $('#example1').markupeditor();
    });
</script>
{% endblock %}


{% block css %}
<link rel="stylesheet" href="{{ MEDIA_URL }}css/theme/ui.all.css" type="text/css" media="screen, projection" />
<link rel="stylesheet" href="{{ MEDIA_URL }}css/hartzog/hz.markupeditor.css" type="text/css" media="screen, projection" />
<style type="text/css">

</style>
{{ block.super }}

{% endblock %}


{% block content %}
<div>

<textarea id="example1"></textarea>

</div>
{% endblock %}