{% block navigation %}
<ul class="navigation">
    <li><a href="{% url home %}" title="Hartzog Skel Home">Home</a></li>
    <li><a href="{% url blog-entry-latest %}" title="Hartzog Skel Blog">Blog</a></li>
    <li><a href="{% url portfolio-project-list %}" title="Hartzog Skel Portfolio">Portfolio</a></li>
    <li><a href="#" title="Tags">Tags</a></li>
    <li><a href="/about/" title="About Hartzog Skel">About</a></li>
    <li><a href="/about/contact/" title="Contact Skeletor">Contact</a></li>
</ul>
{% endblock %}