{% extends "base.html" %}


{% block js %}
{{ block.super }}
<script type="text/javascript" src="{{ MEDIA_URL }}js/hartzog/hz.splitpane.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/hartzog/hz.crop.js"></script>
<script type="text/javascript">
    $(function(){
        $('#example1 img').crop();
        $('#example1').splitpane();
        $('#example2').children().tabs();
        $('#example2').splitpane({
            // fix for ui-tabs in panes
            resize: function(e, ui) {
                ui.element.find('.hz-splitpane-pane > .ui-tabs')
                    .add('.hz-splitpane-pane > .ui-tabs > .ui-tabs-panel')
                    .each(function() {
                        var $this = $(this);
                        var height = $this.parent().height() - $this.position().top;
                        var padding = $(this).outerHeight() - $(this).height();
                        $(this).height(height - padding);
                        // resize tab container
                    
                    });
            }
        }).find('.ui-tabs > .ui-tabs-panel > div').css({height: '100%', overflow: 'auto'});
    });
</script>
{% endblock %}

{% block css %}
{{ block.super }}
<link rel="stylesheet" href="{{ MEDIA_URL }}css/theme/ui.all.css" type="text/css" media="screen, projection" />
{% endblock %}

{% block content %}
<div class="grid_9">

<div id="example1">

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    
    <div></div>
</div>

<div id="example2">
    <div>
        <ul>
            <li><a href="#example2-split1-panel1"><span>Panel One</span></a></li>
            <li><a href="#example2-split1-panel2"><span>Panel Two</span></a></li>
            <li><a href="#example2-split1-panel3"><span>Panel Three</span></a></li>
        </ul>
        <div id="example2-split1-panel1">
            <div>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
        </div>
        <div id="example2-split1-panel2">
            <div>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
        </div>
        <div id="example2-split1-panel3">
            <div>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
        </div>
    </div>
    
    <div>
        <ul>
            <li><a href="#example2-split2-panel1"><span>Panel One</span></a></li>
            <li><a href="#example2-split2-panel2"><span>Panel Two</span></a></li>
            <li><a href="#example2-split2-panel3"><span>Panel Three</span></a></li>
        </ul>
        <div id="example2-split2-panel1">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
        <div id="example2-split2-panel2">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
        <div id="example2-split2-panel3">
            <div>
                <img src="{{ MEDIA_URL }}img/sample.jpg" alt="Sample Image" />
            </div>
        </div>
    </div>
</div>

</div>
{% endblock %}