{% extends "base.html" %}


{% block title %}Super Image - {{ block.super }}{% endblock %}


{% block js %}
{{ block.super }}
<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery-1.3.1.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.ui.all.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/splitpane.js"></script>
<!--<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.jcrop.min.js"></script>-->
<script type="text/javascript" src="{{ MEDIA_URL }}js/hz.crop.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/superimage.js"></script>
<script type="text/javascript">
    $(function(){
        $('#example1').superimage();
    });
</script>
{% endblock %}


{% block css %}
{{ block.super }}
<link rel="stylesheet" href="{{ MEDIA_URL }}css/theme/ui.all.css" type="text/css" media="screen, projection" />
<link rel="stylesheet" href="{{ MEDIA_URL }}css/jcrop.css" type="text/css" media="screen, projection" />
<link rel="stylesheet" href="{{ MEDIA_URL }}css/splitpane.css" type="text/css" media="screen, projection" />
<link rel="stylesheet" href="{{ MEDIA_URL }}css/superimage.css" type="text/css" media="screen, projection" />
{% endblock %}


{% block content %}
<div>
    <img src="{{ MEDIA_URL }}img/sample.jpg" alt="sample image" id="example1" />
</div>
{% endblock %}