<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>{% block title %}Skel - The Hartzog Creative Framework{% endblock %}</title>
        {% block css %}
        <link rel="stylesheet" href="{{ MEDIA_URL }}css/reset.css" type="text/css" media="screen, projection" />
        <link rel="stylesheet" href="{{ MEDIA_URL }}css/text.css" type="text/css" media="screen, projection" />
        <link rel="stylesheet" href="{{ MEDIA_URL }}css/960.css" type="text/css" media="screen, projection" />
        <link rel="stylesheet" href="{{ MEDIA_URL }}css/base.css" type="text/css" media="screen, projection" />
        {% endblock %}
    </head>
    <body>
        <div id="wrapper" class="container_12">
            <div id="header" class="grid_12">
                {% block header %}
                <p class="title">Skel Django Project</p>
                {% include "navigation.html" %}
            </div>
            <div id="sidebar" class="grid_2">
                {%}
            </div>
            <div id="content" class="grid_7">
            {% block content %}{% endblock %}
            </div>
            <div id="bolt-bar" class="grid_3">
                <div>
                    <h3>Links</h3>
                    <ul>
                        <li><a href="#">Myspace</a></li>
                        <li><a href="#">Myspace</a></li>
                        <li><a href="#">Myspace</a></li>
                        <li><a href="#">Myspace</a></li>
                        <li><a href="#">Myspace</a></li>
                    </ul>
                </div>
                <div class="bolts"></div>
            </div>
            <div id="footer" class="grid_12">
            {% block footer %}
            {% endblock %}
            </div>
            <div class="clear"></div>
        </div>
    </body>
</html>
