{% extends "accounts/base.html" %}

{% block title %}{{ object.username }} - {{ block.super }}{% endblock %}

{% block accounts-title %}
{% if object.get_profile.url %}
    <h1><a href="{{ object.get_profile.url }}" rel="no-follow" title="{{ object }}">{{ object }}</a></h1>
{% else %}
    <h1>{{ object }}</h1>
{% endif %}
{% endblock %}


{% block accounts-content %}

    <p class="meta">
        {% if object.get_full_name %}
            Full Name: {{ object.get_full_name }}<br />
        {% endif %}
        
        {% if object.get_profile.url %}
            Homepage: <a href="{{ object.get_profile.url }}" rel="no-follow" title="{{ object.get_profile.url }}">{{ object.get_profile.url }}</a>
        {% endif %}
    </p>

    
    {% if object.get_profile.bio_rendered %}
        {{ object.get_profile.bio_rendered }}
    {% else %}
        <p>{{ object.get_profile.bio }}</p>
    {% endif %}

{% endblock %}
