{% extends "accounts/base.html" %}

{% block title %}Users - {{ block.super }}{% endblock %}

{% block accounts-title %}
    <h1><a href="{% url accounts:users %}">Login</a></h1>
{% endblock %}

{% block accounts-content %}
    {% load core_tags %}
    
    {% for user in object_list %}
        <h3><a href="{% url accounts:user user %}">{{ user.username }}</a></h3>
        
        <p>
            {% if user.get_full_name %}
                Full Name: {{ user.get_full_name }}<br />
            {% endif %}
            
            {% if user.get_profile.url %}
                Homepage: <a href="{{ user.get_profile.url }}" rel="no-follow">{{ user.get_profile.url }}</a>
            {% endif %}
        </p>
    
    {% endfor %}

    {% if is_paginated %}
        {% paginator %}
    {% endif %}
{% endblock %}
